Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-reserved-identifier,
  -bugprone-branch-clone,
  clang-analyzer-*,
  misc-*,
  -misc-unused-parameters,
  -misc-include-cleaner,
  -misc-no-recursion,
  -misc-header-include-cycle,
  -misc-use-internal-linkage,
  performance-*,
  -performance-no-int-to-ptr,
  portability-*,
  -portability-avoid-pragma-once,
  readability-braces-around-statements,
  readability-inconsistent-declaration-parameter-name,
  readability-misleading-indentation,
  readability-redundant-declaration,

WarningsAsErrors: ''

HeaderFilterRegex: 'main/.*'

CheckOptions:
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
