# Esparagus Audio Brick defaults
CONFIG_BOARD_ESPARAGUS_AUDIO_BRICK=y
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="8MB"
CONFIG_DAC_TAS58XX=y
CONFIG_DAC_CONTROLS_VOLUME=y

# GPIO config
CONFIG_I2S_BCK_IO=26
CONFIG_I2S_WS_IO=25
CONFIG_I2S_DO_IO=22
CONFIG_DAC_I2C_SDA=21
CONFIG_DAC_I2C_SCL=27
CONFIG_DACWARN_GPIO=36
CONFIG_SPKFAULT_GPIO=39
CONFIG_LED_RGB_GPIO=12

# W5500 Ethernet
CONFIG_ETH_W5500_ENABLED=y
CONFIG_ETH_USE_SPI_ETHERNET=y
CONFIG_ETH_SPI_ETHERNET_W5500=y
CONFIG_SPI_CLK_GPIO=18
CONFIG_SPI_MOSI_GPIO=23
CONFIG_SPI_MISO_GPIO=19
CONFIG_ETH_W5500_CS_GPIO=5
CONFIG_ETH_W5500_INT_GPIO=35
CONFIG_ETH_W5500_RST_GPIO=14


# SPI Display
CONFIG_DISPLAY_ENABLED=y
CONFIG_DISPLAY_DRIVER_SH1106=y
CONFIG_DISPLAY_BUS_SPI=y
CONFIG_DISPLAY_SPI_CLK=18
CONFIG_DISPLAY_SPI_MOSI=23
CONFIG_DISPLAY_SPI_CS=15
CONFIG_DISPLAY_SPI_DC=4
CONFIG_DISPLAY_SPI_RST=32
